<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Share</title>
</head>
<body>

    <h2 class="main-title">Add your code and generate sharable link</h2>

        <form action="/" method="post">
            <span><button type="submit">Share</button> <a href= <%=link%> </a><%=link%></a></span>
            <code>
                <textarea class="text-box" name="code" id="" cols="30" rows="30" >
                    <%= code %>
                </textarea>
            </code>
        </form>

    
    
</body>
</html>